*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main-container{
    margin: 0 auto;
    width: 65%;
    margin-top: 2rem;
}
h1{
    color: #e53170;
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'Lilita One', cursive;
}
p{
    color: black;
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8rem;
}
.box-container{
    background-color: blueviolet;
    width: 98%;
    height: 180px;
    margin: 0 auto;
}